@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img {
  margin: 0;
}
.primeiroBloco {
  display: flex;
  width: 100%;
}
.imgNav {
  float: rigth;
  margin: 18px;
  margin-left: auto;
}
.navbar {
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.titleNav {
  margin: 10px 5px 10px 10px;
  display: block;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  color: #777777;
  font-style: Ropa Sans;
}
.subTitleNav {
  font-size: 10px;
  line-height: 11px;
  display: block;
  color: #AAAAAA;
  margin: auto 0;
}
section {
  padding-left: 44px;
  padding-right: 44px;
  margin-top: 20px;
}
.slide {
  width: 100%;
}
section.card {
  margin-top: 37px;
}
.spaceCard {
  float: right;
  margin-left: auto;
}
.subCaixa {
  width: 40%;
}
.subCaixa img {
  width: 100%;
}
.botaoVerde {
  background-color: #51D275;
  font-family: "Ropa Sans";
  text-align: center;
  color: white;
  padding: 6px 14px;
  border-radius: 15px 15px 15px 15px;
  font-size: 30px;
  margin: -40px 10px 0px 400px;
}
.botaoLaranja {
  background-color: #DC9730;
  font-family: "Ropa Sans";
  text-align: center;
  color: white;
  padding: 6px 14px;
  border-radius: 15px 15px 15px 15px;
  font-size: 30px;
  margin: -40px 10px 0px 400px;
}
.textoCaixa {
  background-color: #EEEEEE;
  width: 100%;
  font-size: 19px;
  text-align: justify;
}
.texto1 {
  color: #888;
  font-size: 25px;
  margin-left: 6px;
  text-align: justify;
  padding-top: 9px;
}
.texto3 {
  padding: 12px;
  text-align: justify;
}
.caixa {
  display: inline-flex;
  width: 100%;
}
.style {
  text-align: center;
  color: #888888;
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 13px;
}
.industrial {
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 13px;
  background-image: url("Rectangle 11.png");
  opacity: 65%;
  width: 100%;
  height: 80px;
  padding-top: 25px;
  margin-bottom: 13px;
  text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.25);
}
.modern {
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 13px;
  background-image: url("Rectangle 12.png");
  opacity: 65%;
  width: 100%;
  height: 80px;
  padding-top: 25px;
  margin-bottom: 13px;
  text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.25);
}
.classic {
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 13px;
  background-image: url("Rectangle 13.png");
  opacity: 65%;
  width: 100%;
  height: 80px;
  padding: 25px;
  margin-bottom: 13px;
  text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 57px;
}
.caixa3 {
  background-color: #333333;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.image4 {
  margin-top: 75px;
  margin-left: 75px;
  margin-bottom: 55px;
  width: 550px;
}
.textosFooter {
  margin-right: 20px;
  margin-top: 100px;
  color: white;
  padding-right: 40px;
  padding-top: 49px;
  padding-bottom: 90px;
}
.textoFooter1 {
  font-size: 25px;
}
.textoFooter2 {
  font-size: 20px;
  margin-top: 19px;
}
.textoFooter3 {
  font-size: 20px;
  margin-top: 19px;
}
.textoFooter4 {
  font-size: 20px;
  margin-top: 19px;
}
.socialMedias {
  font-size: 20px;
  margin-top: 49px;
}
.socialMedias img {
  width: 50px;
}
.socialIcons {
  display: inline-flex;
}
.InstagramIcon {
  margin-top: 7.43px;
  margin-right: 40px;
  filter: invert();
}
.FacebookIcon {
  margin-top: 7.43px;
  margin-right: 40px;
  filter: invert();
}
.WhatsappIcon {
  margin-top: 7.43px;
  filter: invert();
}


